#ActiveListings-app-container{
    margin-top: 10px;
    width: 99%;
    display: flex;
    justify-content: space-between;
    max-height: 85dvh;
}

#ActiveListings-mappedListings-container{
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

#ActiveListings-mappedListings-container a{
    text-decoration: none;
    color: black;
    width: 100%;
}


#ActiveListings-mappedListings-container a:visited{
    color:inherit;
}

#ActiveListings-mappedListings-container a.active{
    background-color: rgb(236, 234, 234);
}

#ActiveListings-mappedListings{
    border: solid 1px rgb(190, 186, 186);
    /* width: 100%; */
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#ActiveListings-mappedListings:hover{
    background-color: rgb(236, 234, 234);
}

#ActiveListings-User-Info{
    display: flex;
    width: fit-content;
    justify-self: center;
    align-self: center;
    border-bottom: solid 1px rgb(230, 227, 227);
}

#ActiveListings-left{
    display: flex;
    flex-direction: column;
    width: 40%;
    /* border-right: solid 2px black; */
    height: fit-content;
}
#ActiveListings-right{
    width: 59%;
}
