#biddings-container{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}
 
#mapped-bids{
    border: solid 1px black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
 
#bid-container{
    display: flex;
    justify-content: space-between;
    /* border: solid 1px black; */
}