
#app-container{
  display: flex;
  /* background-color:#16232E; */
  justify-content: space-between;
  height: 100lvh;
  width: 100%;
  /* padding: 10px; */
}
#left-side{
  /* border: solid 1px black; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#login-container-app{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  /* background-color: white; */
  padding: 10px;
  /* border: solid 1px black; */
  width: 50%;
  height: 95%;
}
#rightside-middle{
  /* background-color: white; */
  display: flex;
  width: 100%;
}
#sugo-text{
  font-size: 100px;
  color: #FAD02C;
}
#description{
  color: white;
  margin-top: -50px;
  font-size: 30px;
}
#logo-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo-text div{
  width: 80%;
}

#dashboard{
  width: 100%;
  height: fit-content;
}

